aside>h1{
    font-size: 50px;
    color: #333;
    text-align: center;
    margin-top: 5%;
}
aside>h3{
    font-size: 30px;
    color: #555;
    text-align: center;
}
.parent {
display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: repeat(5, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}

.div1 {
    grid-area: 1 / 1 / 6 / 3; 
    margin-top: 10%;
}
.div2 { grid-area: 1 / 3 / 6 / 6; }

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.div1 p {
    font-size: 20px;
    font-family: monospace;
    color: #555;
    text-align: center;
    padding: 0 30px ;
}

.div2 img {
    width: 70%;
    display: block;
    margin: 0 auto;
}
