aside>h1{
    font-size: 50px;
    color: #333;
    text-align: center;
    margin-top: 5%;
}
aside>h3{
    font-size: 30px;
    color: #555;
    text-align: center;
}
.parent {
display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: repeat(5, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}

.div1 {
    grid-area: 1 / 1 / 6 / 3; 
    margin-top: 10%;
}
.div2 {
    grid-area: 1 / 3 / 6 / 6;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.div1 p {
    font-size: 20px;
    font-family: monospace;
    color: #555;
    text-align: center;
    padding: 0 30px ;
}

.div2 img {
    width: 70%;
    display: block;
    margin: 0 auto;
}

section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5%;
  padding: 2rem;
  flex-wrap: wrap;
}
.card {
  width: 30%;
  height: 120px;
  padding: 0.5rem;
  background: rgba(198, 198, 198, 0.34);
  border-radius: 8px;
  backdrop-filter: blur(5px);
  border-bottom: 3px solid rgba(255, 255, 255, 0.440);
  border-left: 2px  rgba(255, 255, 255, 0.545) outset;
  box-shadow: -40px 50px 30px rgba(0, 0, 0, 0.280);
  transform: skewX(10deg);
  transition: 1s;
  overflow: hidden;
}

.card:hover {
  height: 254px;
  transform: skew(0deg);
}

.card h1 {
    text-align: center;
    margin: 5% 0 10% 0;
    color: rgb(218, 244, 237);
    text-shadow: -10px 5px 10px rgba(0, 0, 0, 0.573);
}

