body{
    background-color: rgb(130, 247, 247);
}

#header{
    background-color: rgb(197, 248, 248);
}

#header .navbar-brand{
    font-weight: bold;
    font-size: 30px;
}

#header .nav-link{
    font-size: 20px;
    margin-left: 20px;
}

#a_admin_tool {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    margin-left: auto;
    
}
