body{
    background-color: rgb(130, 247, 247);
}

#header{
    background-color: rgba(0, 0, 0);
    position: sticky;
    top: 0;
    z-index: 1000;
}
header{
    position: sticky;
    top: 0;
    z-index: 1000;
}

#header .navbar-brand{
    font-weight: bold;
    font-size: 30px;
    color: white;

    
}

#header .nav-link{
    font-size: 20px;
    margin-left: 20px;
    color: white;
}

#a_admin_tool {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    margin-left: auto;
    color: white;
}

