<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logga in</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/loga_in.css">
</head>
<body>
    <div class="login-container">
        <div class="login-card">
            <h2 id="h2_startsidan">Logga in</h2>

            <form action="/handle_login" method="post">
                <div class="group">
                    <input required="" type="email" name="email" class="input">
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Email</label>
                </div>

                        
                <div class="group">
                    <input required="" type="password" name="password" class="input">
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Lösenord</label>
                </div>

                <button type="submit" class="login-button">LOGGA IN</button>
            </form>
            
            <p class="signup-link">
                Inte medlem? <a href="sign_up">Registrera dig här</a>
            </p>
        </div>
    </div>
</body>
</html>