<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css">
    <title>Start sida</title>
    <link rel="stylesheet" href="/static/Start_sida.css">

</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg "id="header">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">STR</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav">
           
            <li class="nav-item">
              {% if session.get('logged_in') %}
                <a class="nav-link" href="/logout">LOGGA UT</a>
              {% else %}
                <a class="nav-link" href="/login">LOGGA IN</a>
              {% endif %}
            </li>
          </ul>
          
        </div>
      </div>
    </nav>
  </header>

  <aside>
    <h1>SRT</h1>
    <h3>Smart Remote team</h3>
  </aside>

  <main>
    <div class="parent">
      <div class="div1"> 
        <p>
          Välkommen till SRT, din smarta lösning för att hantera och organisera dina team på distans.
        </p>
        
        <p>
          SRT kan du enkelt skapa, administrera och samarbeta med dina teammedlemmar, oavsett var de befinner sig.
        </p>

        <p>
          Vår plattform erbjuder en rad kraftfulla verktyg och funktioner som gör det enkelt att hålla alla i ditt team 
          uppdaterade och engagerade.
        </p>
      </div>

      <div class="div2">
          <img src="static/bild_1.jpg" alt="">
      </div>

    </div>
  </main>

  
    <h2>
      Varför välja SRT?
    </h2>
    <section>
        <div class="card">
            <h1>HOVER ME</h1>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde explicabo enim rem odio assumenda?
            </p>
        </div>

         <div class="card">
            <h1>HOVER ME</h1>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde explicabo enim rem odio assumenda?
            </p>
        </div>

         <div class="card">
            <h1>HOVER ME</h1>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde explicabo enim rem odio assumenda?
            </p>
        </div>
  </section>
    
    
</body>
</html>